# Scripts para manipulação de dataframe

In [1]:
import pandas as pd

In [5]:
dfVina = pd.read_csv('oleosVina.csv')
#dfVinardo = pd.read_csv('oleosVinardo.csv')
dfConvex = pd.read_csv('oleosConvex.csv')

In [6]:
dfVina

             Ligand    Receptor  Vina
0              1033  EcdRecAnt1  -8.9
1              1033  EcdRecAnt2  -9.2
2              1033  EcdRecAnt3  -9.1
3              1033  EcdRecAnt4  -4.8
4            1033-1  EcdRecAnt1  -9.5
...             ...         ...   ...
28883    ZINC968471  EcdRecAnt4  -6.2
28884  ZINC968471-1  EcdRecAnt1  -7.3
28885  ZINC968471-1  EcdRecAnt2  -7.4
28886  ZINC968471-1  EcdRecAnt3  -7.2
28887  ZINC968471-1  EcdRecAnt4  -6.1

[28888 rows x 3 columns]

In [21]:
dfVina['Vina'] = dfVina.mean(axis=1)
dfVina.to_csv("oleosVinaMean.csv")
dfVina

/home/eduardo/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

             Ligand Receptor  Affinity1  Affinity2  Affinity3      Vina
0              1033    ache1       -7.9       -7.8       -7.1 -7.600000
1              1033    ache2       -8.1       -8.1       -7.6 -7.933333
2              1033    ache3       -7.8       -7.3       -7.3 -7.466667
3              1033    ache4       -7.1       -6.7       -6.6 -6.800000
4            1033-1    ache1       -7.4       -7.3       -7.0 -7.233333
...             ...      ...        ...        ...        ...       ...
28883    ZINC968471    ache4       -9.1       -9.1       -8.8 -9.000000
28884  ZINC968471-1    ache1       -7.3       -7.2       -7.2 -7.233333
28885  ZINC968471-1    ache2       -8.3       -8.3       -8.0 -8.200000
28886  ZINC968471-1    ache3       -8.0       -8.0       -7.9 -7.966667
28887  ZINC968471-1    ache4       -9.3       -9.2       -9.0 -9.166667

[28888 rows x 6 columns]

In [38]:
dfConvex['Convex'] = dfConvex.mean(axis=1)
dfConvex.to_csv("oleosConvexMean.csv")
dfConvex

/home/eduardo/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

             Ligand Receptor  Affinity1  Affinity2  Affinity3     Convex
0              1033  EcdRec1  43.756445  40.649809  39.872070  41.426108
1              1033  EcdRec2  31.190919  30.114800  29.040804  30.115508
2              1033  EcdRec3  41.349979  39.556566  38.913002  39.939849
3              1033  EcdRec4  38.251646  35.138413  33.818741  35.736266
4            1033-1  EcdRec1  39.894489  39.595589  39.395580  39.628553
...             ...      ...        ...        ...        ...        ...
28883    ZINC968471  EcdRec4  46.734680  46.733012  45.475566  46.314419
28884  ZINC968471-1  EcdRec1  43.635470  42.700497  42.323586  42.886518
28885  ZINC968471-1  EcdRec2  32.657262  31.308239  30.855497  31.606999
28886  ZINC968471-1  EcdRec3  46.473222  43.970293  40.335203  43.592906
28887  ZINC968471-1  EcdRec4  45.811874  45.763343  45.000449  45.525222

[28888 rows x 6 columns]

In [23]:
dfVinardo['Vinardo'] = dfVinardo.mean(axis=1)
dfVinardo.to_csv("oleosVinardoMean.csv")
dfVinardo

/home/eduardo/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

             Ligand Receptor  Affinity1  Affinity2  Affinity3    Vinardo
0              1033    ache1   -6.22406   -5.11499   -5.09632  -5.478457
1              1033    ache2   -6.56010   -5.74015   -5.66036  -5.986870
2              1033    ache3   -5.43800   -5.06400   -4.68181  -5.061270
3              1033    ache4   -4.81343   -4.37465   -4.30333  -4.497137
4            1033-1    ache1   -5.81590   -5.49585   -5.37211  -5.561287
...             ...      ...        ...        ...        ...        ...
28883    ZINC968471    ache4  -10.52390  -10.50415  -10.32776 -10.451937
28884  ZINC968471-1    ache1   -9.31612   -8.84014   -8.82000  -8.992087
28885  ZINC968471-1    ache2   -8.64139   -8.44682   -8.41421  -8.500807
28886  ZINC968471-1    ache3   -9.14784   -9.13356   -8.46445  -8.915283
28887  ZINC968471-1    ache4  -10.50791  -10.33611  -10.15543 -10.333150

[28888 rows x 6 columns]

### leitura planilhas somente com as medias das bases a serem trabalhadas

In [39]:
dfVina = pd.read_csv('oleosVinaMean.csv')
#dfVinardo = pd.read_csv('oleosVinardoMean.csv')
dfConvex = pd.read_csv('oleosConvexMean.csv')

In [25]:
dfVina

,Unnamed: 0,Ligand,Receptor,Affinity1,Affinity2,Affinity3,Vina
0,0,1033,ache1,-7.9,-7.8,-7.1,-7.600000
1,1,1033,ache2,-8.1,-8.1,-7.6,-7.933333
2,2,1033,ache3,-7.8,-7.3,-7.3,-7.466667
3,3,1033,ache4,-7.1,-6.7,-6.6,-6.800000
4,4,1033-1,ache1,-7.4,-7.3,-7.0,-7.233333
...,...,...,...,...,...,...,...
28883,28883,ZINC968471,ache4,-9.1,-9.1,-8.8,-9.000000
28884,28884,ZINC968471-1,ache1,-7.3,-7.2,-7.2,-7.233333
28885,28885,ZINC968471-1,ache2,-8.3,-8.3,-8.0,-8.200000
28886,28886,ZINC968471-1,ache3,-8.0,-8.0,-7.9,-7.966667
28887,28887,ZINC968471-1,ache4,-9.3,-9.2,-9.0,-9.166667

In [7]:
ndf = dfVina.groupby(['Ligand']).mean()
ndf.to_csv("Vina.csv")

In [8]:
cdf = dfConvex.groupby(['Ligand']).mean()
cdf.to_csv("Convex.csv")

In [28]:
vdf = dfVinardo.groupby(['Ligand']).mean()
vdf.to_csv("Vinardo.csv")

In [29]:
#TABELAS PRONTAS

In [9]:
dfVina = pd.read_csv('Vina.csv', index_col = 0)
dfVina = pd.DataFrame(dfVina["Vina"])
dfVina

               Vina
Ligand
1033         -8.000
1033-1       -7.975
1033-10      -7.675
1033-11      -7.825
1033-12      -7.975
...             ...
ZINC968287-3 -6.275
ZINC968468   -7.650
ZINC968468-1 -7.450
ZINC968471   -7.325
ZINC968471-1 -7.000

[7222 rows x 1 columns]

In [10]:
dfConvex = pd.read_csv('Convex.csv', index_col = 0)
dfConvex = pd.DataFrame(dfConvex["Convex"])
dfConvex

                 Convex
Ligand
1033          36.371488
1033-1        35.279004
1033-10       34.915205
1033-11       38.127825
1033-12       34.820584
...                 ...
ZINC968287-3  35.074333
ZINC968468    37.720166
ZINC968468-1  34.799239
ZINC968471    42.003911
ZINC968471-1  41.072087

[7222 rows x 1 columns]

In [33]:
dfVinardo = pd.read_csv('Vinardo.csv', index_col = 0)
dfVinardo = pd.DataFrame(dfVinardo["Vinardo"])
dfVinardo

               Vinardo
Ligand
1033         -5.255933
1033-1       -5.515637
1033-10      -6.407387
1033-11      -5.866752
1033-12      -6.423932
...                ...
ZINC968287-3 -5.838671
ZINC968468   -5.965511
ZINC968468-1 -5.758456
ZINC968471   -9.072404
ZINC968471-1 -9.185332

[7222 rows x 1 columns]

In [46]:
df_final = dfConvex
#df_final['Convex']=dfConvex['Convex']
#df_final['Vinardo']=dfVinardo['Vinardo']
df_final

                 Convex
Ligand
1033          36.804433
1033-1        36.499915
1033-10       37.523780
1033-11       36.257123
1033-12       35.646561
...                 ...
ZINC968287-3  30.862820
ZINC968468    35.760964
ZINC968468-1  37.177284
ZINC968471    42.145011
ZINC968471-1  40.902911

[7222 rows x 1 columns]

In [47]:
df_final.to_csv('dfparaselecao.csv')

In [55]:
dfVina2 = dfVina.Ligand.str.replace("(-).*","")
dfVina2

/snap/jupyter/6/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

0             1033
1             1033
2             1033
3             1033
4             1033
           ...
7217    ZINC968287
7218    ZINC968468
7219    ZINC968468
7220    ZINC968471
7221    ZINC968471
Name: Ligand, Length: 7222, dtype: object

In [56]:
dfVina.insert(loc=1,column='Ligand-ID',value=dfVina2)
dfVina.to_csv("dfVina.csv")
dfVina

            Ligand   Ligand-ID      Vina
0             1033        1033 -7.450000
1           1033-1        1033 -7.250000
2          1033-10        1033 -8.216667
3          1033-11        1033 -7.516667
4          1033-12        1033 -8.425000
...            ...         ...       ...
7217  ZINC968287-3  ZINC968287 -6.425000
7218    ZINC968468  ZINC968468 -7.575000
7219  ZINC968468-1  ZINC968468 -7.366667
7220    ZINC968471  ZINC968471 -8.158333
7221  ZINC968471-1  ZINC968471 -8.141667

[7222 rows x 3 columns]

In [64]:
dfConvex = pd.read_csv('Convex.csv')
dfConvex

            Ligand     Convex
0             1033  31.449028
1           1033-1  30.785491
2          1033-10  35.280545
3          1033-11  31.448628
4          1033-12  35.318237
...            ...        ...
7217  ZINC968287-3  32.724898
7218    ZINC968468  34.038892
7219  ZINC968468-1  33.992721
7220    ZINC968471  42.353996
7221  ZINC968471-1  43.115910

[7222 rows x 2 columns]

In [65]:
dfConvex2 = dfConvex.Ligand.str.replace("(-).*","")
dfConvex2

/snap/jupyter/6/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

0             1033
1             1033
2             1033
3             1033
4             1033
           ...
7217    ZINC968287
7218    ZINC968468
7219    ZINC968468
7220    ZINC968471
7221    ZINC968471
Name: Ligand, Length: 7222, dtype: object

In [66]:
dfConvex.insert(loc=1,column='Ligand-ID',value=dfConvex2)
dfConvex.to_csv("dfConvex.csv")
dfConvex

            Ligand   Ligand-ID     Convex
0             1033        1033  31.449028
1           1033-1        1033  30.785491
2          1033-10        1033  35.280545
3          1033-11        1033  31.448628
4          1033-12        1033  35.318237
...            ...         ...        ...
7217  ZINC968287-3  ZINC968287  32.724898
7218    ZINC968468  ZINC968468  34.038892
7219  ZINC968468-1  ZINC968468  33.992721
7220    ZINC968471  ZINC968471  42.353996
7221  ZINC968471-1  ZINC968471  43.115910

[7222 rows x 3 columns]

In [67]:
dfVinardo = pd.read_csv('Vinardo.csv')
dfVinardo

            Ligand   Vinardo
0             1033 -5.255933
1           1033-1 -5.515637
2          1033-10 -6.407387
3          1033-11 -5.866752
4          1033-12 -6.423932
...            ...       ...
7217  ZINC968287-3 -5.838671
7218    ZINC968468 -5.965511
7219  ZINC968468-1 -5.758456
7220    ZINC968471 -9.072404
7221  ZINC968471-1 -9.185332

[7222 rows x 2 columns]

In [68]:
dfVinardo2 = dfVinardo.Ligand.str.replace("(-).*","")
dfVinardo2

/snap/jupyter/6/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

0             1033
1             1033
2             1033
3             1033
4             1033
           ...
7217    ZINC968287
7218    ZINC968468
7219    ZINC968468
7220    ZINC968471
7221    ZINC968471
Name: Ligand, Length: 7222, dtype: object

In [70]:
dfVinardo.insert(loc=1,column='Ligand-ID',value=dfVinardo2)
dfVinardo.to_csv("dfVinardo.csv")
dfVinardo

            Ligand   Ligand-ID   Vinardo
0             1033        1033 -5.255933
1           1033-1        1033 -5.515637
2          1033-10        1033 -6.407387
3          1033-11        1033 -5.866752
4          1033-12        1033 -6.423932
...            ...         ...       ...
7217  ZINC968287-3  ZINC968287 -5.838671
7218    ZINC968468  ZINC968468 -5.965511
7219  ZINC968468-1  ZINC968468 -5.758456
7220    ZINC968471  ZINC968471 -9.072404
7221  ZINC968471-1  ZINC968471 -9.185332

[7222 rows x 3 columns]

## Procurando pela maior Afinidade

In [105]:
dfVina = pd.read_csv('dfVina.csv')
dfVina.head(50)

     Ligand Ligand-ID      Vina
0      1033      1033 -7.450000
1    1033-1      1033 -7.250000
2   1033-10      1033 -8.216667
3   1033-11      1033 -7.516667
4   1033-12      1033 -8.425000
5   1033-13      1033 -7.466667
6   1033-14      1033 -7.233333
7   1033-15      1033 -7.775000
8    1033-2      1033 -7.425000
9    1033-3      1033 -8.358333
10   1033-4      1033 -7.583333
11   1033-5      1033 -8.350000
12   1033-6      1033 -7.750000
13   1033-7      1033 -7.583333
14   1033-8      1033 -7.633333
15   1033-9      1033 -7.450000
16    12003     12003 -8.550000
17  12003-1     12003 -8.341667
18  12003-2     12003 -7.575000
19  12003-3     12003 -7.925000
20  12003-4     12003 -7.508333
21  12003-5     12003 -7.991667
22  12003-6     12003 -8.008333
23  12003-7     12003 -8.375000
24    12007     12007 -7.975000
25  12007-1     12007 -8.066667
26  12007-2     12007 -7.783333
27  12007-3     12007 -7.325000
28  12007-4     12007 -6.875000
29  12007-5     12007 -7.150000
30  12007-6     12007 -8.391667
31  12007-7     12007 -7.816667
32    12022     12022 -8.608333
33  12022-1     12022 -8.516667
34  12022-2     12022 -8.033333
35  12022-3     12022 -7.975000
36  12022-4     12022 -7.541667
37  12022-5     12022 -7.625000
38  12022-6     12022 -8.358333
39  12022-7     12022 -8.450000
40    12024     12024 -8.275000
41  12024-1     12024 -8.750000
42  12024-2     12024 -7.358333
43  12024-3     12024 -7.558333
44  12024-4     12024 -7.558333
45  12024-5     12024 -7.858333
46  12024-6     12024 -8.533333
47  12024-7     12024 -8.250000
48    12032     12032 -8.716667
49  12032-1     12032 -8.425000

In [106]:
dfVa= dfVina.groupby(['Ligand-ID'], sort=False)['Vina'].min()
idx1 = dfVina.groupby(['Ligand-ID'])['Vina'].transform(min) == dfVina['Vina']

In [109]:
Vina = dfVina[idx1]
Vina.to_csv("Vina.csv")

In [120]:
dfConvex = pd.read_csv('dfConvex.csv')
dfConvex.head(50)

     Ligand Ligand-ID     Convex
0      1033      1033  31.449028
1    1033-1      1033  30.785491
2   1033-10      1033  35.280545
3   1033-11      1033  31.448628
4   1033-12      1033  35.318237
5   1033-13      1033  30.707661
6   1033-14      1033  30.322914
7   1033-15      1033  32.241963
8    1033-2      1033  31.118569
9    1033-3      1033  35.979112
10   1033-4      1033  31.335587
11   1033-5      1033  35.629234
12   1033-6      1033  32.017016
13   1033-7      1033  31.101677
14   1033-8      1033  31.204431
15   1033-9      1033  31.584408
16    12003     12003  31.894021
17  12003-1     12003  30.689799
18  12003-2     12003  27.265376
19  12003-3     12003  28.157178
20  12003-4     12003  27.140452
21  12003-5     12003  29.080025
22  12003-6     12003  29.730902
23  12003-7     12003  31.951211
24    12007     12007  33.112212
25  12007-1     12007  33.896102
26  12007-2     12007  30.884022
27  12007-3     12007  29.387400
28  12007-4     12007  28.362449
29  12007-5     12007  30.752596
30  12007-6     12007  35.788603
31  12007-7     12007  32.812067
32    12022     12022  32.654421
33  12022-1     12022  31.689669
34  12022-2     12022  28.760043
35  12022-3     12022  28.873083
36  12022-4     12022  27.795231
37  12022-5     12022  29.371193
38  12022-6     12022  31.569507
39  12022-7     12022  32.312554
40    12024     12024  34.384491
41  12024-1     12024  37.002846
42  12024-2     12024  31.206177
43  12024-3     12024  31.737782
44  12024-4     12024  31.017064
45  12024-5     12024  33.861510
46  12024-6     12024  36.899313
47  12024-7     12024  36.566766
48    12032     12032  32.325244
49  12032-1     12032  32.356462

In [122]:
dfCo= dfConvex.groupby(['Ligand-ID'], sort=False)['Convex'].max()
idx2 = dfConvex.groupby(['Ligand-ID'])['Convex'].transform(max) == dfConvex['Convex']

In [123]:
Convex = dfConvex[idx2]
Convex

            Ligand   Ligand-ID     Convex
9           1033-3        1033  35.979112
23         12003-7       12003  31.951211
30         12007-6       12007  35.788603
32           12022       12022  32.654421
41         12024-1       12024  37.002846
...            ...         ...        ...
7212    ZINC968246  ZINC968246  30.911191
7213    ZINC968250  ZINC968250  30.882093
7216  ZINC968287-2  ZINC968287  33.597180
7218    ZINC968468  ZINC968468  34.038892
7221  ZINC968471-1  ZINC968471  43.115910

[616 rows x 3 columns]

In [124]:
Convex.to_csv("Convex.csv")

In [125]:
dfVinardo = pd.read_csv('dfVinardo.csv')
dfVinardo.head(50)

     Ligand Ligand-ID   Vinardo
0      1033      1033 -5.255933
1    1033-1      1033 -5.515637
2   1033-10      1033 -6.407387
3   1033-11      1033 -5.866752
4   1033-12      1033 -6.423932
5   1033-13      1033 -5.613942
6   1033-14      1033 -5.750207
7   1033-15      1033 -5.794292
8    1033-2      1033 -5.581428
9    1033-3      1033 -6.625079
10   1033-4      1033 -5.597500
11   1033-5      1033 -6.623140
12   1033-6      1033 -6.082254
13   1033-7      1033 -5.698270
14   1033-8      1033 -5.656168
15   1033-9      1033 -5.643506
16    12003     12003 -6.691805
17  12003-1     12003 -6.191204
18  12003-2     12003 -6.099463
19  12003-3     12003 -5.998847
20  12003-4     12003 -5.407002
21  12003-5     12003 -6.400201
22  12003-6     12003 -6.168878
23  12003-7     12003 -6.690159
24    12007     12007 -6.154119
25  12007-1     12007 -6.930962
26  12007-2     12007 -6.121501
27  12007-3     12007 -5.493942
28  12007-4     12007 -5.362841
29  12007-5     12007 -5.454200
30  12007-6     12007 -6.905421
31  12007-7     12007 -6.201713
32    12022     12022 -6.771449
33  12022-1     12022 -6.715556
34  12022-2     12022 -6.380496
35  12022-3     12022 -6.384768
36  12022-4     12022 -5.574142
37  12022-5     12022 -6.057056
38  12022-6     12022 -6.752418
39  12022-7     12022 -6.647558
40    12024     12024 -6.735058
41  12024-1     12024 -7.339788
42  12024-2     12024 -6.050931
43  12024-3     12024 -6.021782
44  12024-4     12024 -5.878674
45  12024-5     12024 -6.378184
46  12024-6     12024 -7.218038
47  12024-7     12024 -6.755447
48    12032     12032 -6.835749
49  12032-1     12032 -6.492030

In [126]:
dfVrdo= dfVinardo.groupby(['Ligand-ID'], sort=False)['Vinardo'].min()
idx3 = dfVinardo.groupby(['Ligand-ID'])['Vinardo'].transform(min) == dfVinardo['Vinardo']

In [127]:
Vinardo = dfVinardo[idx3]
Vinardo.head(50)

       Ligand Ligand-ID   Vinardo
9      1033-3      1033 -6.625079
16      12003     12003 -6.691805
25    12007-1     12007 -6.930962
32      12022     12022 -6.771449
41    12024-1     12024 -7.339788
48      12032     12032 -6.835749
59    12055-3     12055 -7.268464
66   12104-14     12104 -6.753467
82   12130-14     12130 -6.351657
105   12133-7     12133 -6.255066
118   12134-4     12134 -6.981851
137   12137-7     12137 -7.077405
140     12138     12138 -7.174583
159  12141-19     12141 -6.836427
186   12157-6     12157 -6.378807
188     12170     12170 -6.066123
204   12182-2     12182 -5.976267
226   12189-8     12189 -6.813175
236   12190-2     12190 -6.315649
252   12213-2     12213 -7.493991
272   12214-2     12214 -7.291722
294   12230-2     12230 -7.283023
312   12232-6     12232 -7.165002
322  12238-14     12238 -6.470962
356  12241-30     12241 -7.239221
365   12253-1     12253 -7.618345
398  12255-25     12255 -7.392713
420  12260-16     12260 -7.379683
452  12265-16     12265 -7.178936
503   12268-5     12268 -7.297575
522   12270-8     12270 -7.298753
524     12272     12272 -7.416878
554   12273-8     12273 -7.716628
586   12280-8     12280 -7.404141
605  12281-24     12281 -7.252730
632   12288-2     12288 -7.279880
656  12300-12     12300 -6.973955
715   12320-9     12320 -7.504645
737  12322-28     12322 -7.675779
753  12325-13     12325 -7.413422
775   12330-5     12330 -7.413794
787  12334-15     12334 -7.663510
817   12338-5     12338 -7.552293
829   12339-3     12339 -7.309812
859   12340-3     12340 -7.159483
885  12343-24     12343 -7.203655
929   12344-7     12344 -7.742982
953  12350-28     12350 -7.137858
968  12352-12     12352 -7.201423
991   12353-5     12353 -7.162633

In [128]:
Vinardo.to_csv("Vinardo.csv")

## Unindo as tabelas

In [148]:
from functools import reduce

In [149]:
df1 = pd.read_csv('Vina.csv')
df2 = pd.read_csv('Convex.csv')
df3 = pd.read_csv('Vinardo.csv')

In [150]:
dfs = [df1, df2, df3]

In [151]:
df_final = reduce(lambda left,right: pd.merge(left,right,on='Ligand-ID'), dfs)

In [153]:
df_final.to_csv("df_final.csv")